:root {
  --c1: white;
  --c2: #3abeff;
  --c3: #747474;
  //* --- *//
  --bg1: #ff6767;
  --bg2: #f8f8f8;
  --bg3: #000;
  --bg4: #f24e1e;
  --bg5: #1a1a1a;
  //* --- *//
  --bs: 0 4px 12px rgba(0, 0, 0, 0.07);
  --borderRadius: 1px solid #a1a3abc6;
  --borderRadius2: 1px solid #747474;
  --multiBc: rgba(0, 0, 0, 0.8);
  --borderBottom1: 1px solid #f24e1e;
  --borderBottom2: 1px solid black;
}
