* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", serif;
}

body,
html {
  height: 100vh;
}

a {
  all: unset;
}

:root {
  --c1: white;
  --c2: #3abeff;
  --c3: #747474;
  --bg1: #ff6767;
  --bg2: #f8f8f8;
  --bg3: #000;
  --bg4: #f24e1e;
  --bg5: #1a1a1a;
  --bs: 0 4px 12px rgba(0, 0, 0, 0.07);
  --borderRadius: 1px solid #a1a3abc6;
  --borderRadius2: 1px solid #747474;
  --multiBc: rgba(0, 0, 0, 0.8);
  --borderBottom1: 1px solid #f24e1e;
  --borderBottom2: 1px solid black;
}

nav {
  background-color: var(--bg2);
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  margin-bottom: 50px;
  position: relative;
}

.navArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navArticle img {
  background-color: var(--bg1);
  padding: 10px;
  border-radius: 8px;
}

.navIcon {
  cursor: pointer;
}
.navIcon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 27px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.dash {
  color: var(--bg1);
}

.searchTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.searchTask input {
  width: 700px;
  padding: 10px 15px;
  border-radius: 8px 0px 0px 8px;
  border: none;
}
.searchTask img {
  position: absolute;
  right: 0;
}

.otherFunctions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.dateTracker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}
.dateTracker span:last-child {
  color: var(--c2);
}

.menuToggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.menuToggle div {
  position: relative;
}

.droppedList {
  position: fixed;
  top: 88px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 88px);
  background: #1a1a1a;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  gap: 20px;
}
.droppedList li {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}
.droppedList li span,
.droppedList a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  -webkit-box-shadow: 0 0.4em 0.1em 0.019em #fff;
          box-shadow: 0 0.4em 0.1em 0.019em #fff;
}
.droppedList li span:hover,
.droppedList a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(0, -0.6em);
          transform: translate(0, -0.6em);
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
}
.droppedList li span:not(hover),
.droppedList a:not(hover) {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.burger {
  scale: 0.7;
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.burger input:checked ~ .droppedList {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 1100px) {
  .searchTask input {
    max-width: 500px !important;
  }
}
@media (max-width: 900px) {
  .searchTask input {
    max-width: 300px !important;
  }
}
@media (max-width: 750px) {
  .burger {
    display: block;
  }
  .otherFunctions {
    display: none;
  }
  .dateTracker {
    display: none;
  }
}
@media (max-width: 510px) {
  .navIcon a {
    font-size: 20px;
  }
  .searchTask input {
    max-width: 200px !important;
  }
}
@media (max-width: 410px) {
  .navArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .droppedList {
    top: 150px;
    height: calc(100vh - 150px);
  }
  .navIcon a {
    font-size: 25px;
  }
  .searchTask input {
    max-width: 300px;
  }
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* ! DELETE */
}
main aside {
  position: relative;
  padding: 40px;
  max-width: 350px;
  background-color: var(--bg3);
  border-radius: 0px 8px 8px 0px;
  white-space: nowrap;
  margin-right: 76px;
}
main aside .sideUserInfo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
main aside .sideUserInfo img {
  position: absolute;
  top: -50px;
}
main aside .sideUserInfo span,
main aside .sideUserInfo a {
  color: var(--c1);
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
main aside .sideUserInfo span:last-child,
main aside .sideUserInfo a:last-child {
  margin-top: -5px;
  font-weight: 300;
}
main aside .sideUserAbilities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main aside .sideUserAbilities div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fafafa;
}
main aside .sideUserAbilities div:hover {
  cursor: pointer;
  background-color: var(--c1);
}
main aside .sideUserAbilities div:hover img {
  fill: var(--bg1);
}
main aside .sideUserAbilities div:hover span,
main aside .sideUserAbilities div:hover a {
  color: var(--bg1);
  text-decoration: none;
}
main h1 {
  font-size: 30px;
  font-weight: 400;
}
main .fixator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .mainArticleOfAllTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(161, 163, 171, 0.7764705882);
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  padding: 26px;
  gap: 25px;
  overflow-y: auto;
  max-height: 550px;
}
main .mainArticleOfAllTasks .sectionToDo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  padding: 23px;
  border-radius: 8px;
  gap: 10px;
  max-width: 400px;
}
main .mainArticleOfAllTasks .sectionToDo .toDoHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .mainArticleOfAllTasks .sectionToDo .toDoIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}
main .mainArticleOfAllTasks .sectionToDo .toDoIcon span {
  color: var(--bg1);
  font-size: 15px;
  font-weight: 400;
}
main .mainArticleOfAllTasks .sectionToDo .toDoAddTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
main .mainArticleOfAllTasks .sectionToDo .toDoAddTask span {
  color: var(--bg3);
  font-size: 15px;
  font-weight: 400;
}
main .mainArticleOfAllTasks .sectionToDo .exampleTask {
  position: relative;
  padding: 20px;
  border-radius: 20px;
  border: var(--borderRadius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 200px;
  overflow: hidden;
}
main .mainArticleOfAllTasks .sectionToDo .exampleTask .taskShortInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  gap: 20px;
}
main .mainArticleOfAllTasks .sectionToDo .exampleTask .taskShortInfo h2 {
  font-size: 6;
  font-weight: 500;
}
main .mainArticleOfAllTasks .sectionToDo .exampleTask .taskShortInfo span {
  color: var(--c3);
  font-size: 14px;
  font-weight: 300;
}
main .mainArticleOfAllTasks .sectionToDo .exampleTask img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  border-radius: 5px;
}
main .mainArticleOfAllTasks .verticalTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
main .mainArticleOfAllTasks .verticalTasks .taskStatusSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  padding: 23px;
  gap: 10px;
  border-radius: 8px;
}
main .mainArticleOfAllTasks .verticalTasks .taskStatusSection .statusIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
main .mainArticleOfAllTasks .verticalTasks .taskStatusSection .statusIcon span {
  color: var(--bg1);
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  padding: 23px;
  gap: 10px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .finishedIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .finishedIcon span {
  color: var(--bg1);
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask {
  position: relative;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  border: var(--borderRadius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 200px;
  overflow: hidden;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .taskShortInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 50px;
  gap: 10px;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .taskShortInfo h2 {
  font-size: 6;
  font-weight: 500;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .taskShortInfo span {
  color: var(--c3);
  font-size: 14px;
  font-weight: 300;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .verticalPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .verticalPart img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -o-object-fit: contain;
     object-fit: contain;
  width: 80px;
  border-radius: 5px;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .verticalPart button {
  cursor: pointer;
  border: var(--borderRadius);
  background-color: var(--bg5);
  padding: 5px 7px;
  font-size: 10px;
  font-weight: 600;
  color: var(--c1);
  border-radius: 5px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask .verticalPart button:hover {
  background-color: #747474;
}
main .popUp {
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--multiBc);
}
main .popUpContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 80px;
  background-color: var(--c1);
  border-radius: 10px;
}
main .popUpBody {
  margin: auto;
  font-family: "Montserrat";
}
main .popUpBody .headerPopUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
main .popUpBody .headerPopUp h3 {
  font-size: 16px;
  font-weight: 500;
  border-bottom: var(--borderBottom1);
}
main .popUpBody .headerPopUp button {
  outline: none;
  border: none;
  background-color: inherit;
  border-bottom: var(--borderBottom2);
  font-size: 14px;
  cursor: pointer;
  font-weight: 300;
}
main .popUpBody form {
  border: var(--borderRadius);
  padding: 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
main .popUpBody form .titleDiv,
main .popUpBody form .descDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
main .popUpBody form .titleDiv input,
main .popUpBody form .descDiv input {
  padding: 10px;
  border-radius: 5px;
  border: var(--borderRadius2);
  width: 500px;
}
main .popUpBody form .descDiv textarea {
  resize: none;
  padding: 20px;
  height: 200px;
  border: var(--borderRadius2);
}
main .popUpBody .doneButton {
  padding: 10px 25px;
  background-color: var(--bg4);
  color: var(--c1);
  border-radius: 6px;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.MyTaskShortArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  gap: 20px;
}
.MyTaskShortArticle .shortHeaderListTask {
  margin-bottom: 10px;
}
.MyTaskShortArticle .shortTaskList,
.MyTaskShortArticle .TaskFullInfo {
  border: 1px solid #747474;
  padding: 25px;
  gap: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.MyTaskShortArticle .shortTaskList .exampleTask,
.MyTaskShortArticle .TaskFullInfo .exampleTask {
  position: relative;
  padding: 30px;
  min-width: 300px;
  border-radius: 20px;
  border: 1px solid rgba(161, 163, 171, 0.7764705882);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  margin-bottom: 10px;
  cursor: pointer;
}
.MyTaskShortArticle .shortTaskList .exampleTask .taskShortInfo,
.MyTaskShortArticle .TaskFullInfo .exampleTask .taskShortInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}
.MyTaskShortArticle .shortTaskList .exampleTask .taskShortInfo h2,
.MyTaskShortArticle .TaskFullInfo .exampleTask .taskShortInfo h2 {
  font-size: 13;
  font-weight: 500;
}
.MyTaskShortArticle .shortTaskList .exampleTask .taskShortInfo span,
.MyTaskShortArticle .TaskFullInfo .exampleTask .taskShortInfo span {
  color: #747474;
  font-size: 14px;
  font-weight: 300;
}
.MyTaskShortArticle .shortTaskList .exampleTask img,
.MyTaskShortArticle .TaskFullInfo .exampleTask img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100px;
  border-radius: 5px;
}

.TaskFullInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}
.TaskFullInfo .fullComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.TaskFullInfo .fullComponent img {
  width: 200px;
  border-radius: 20px;
}
.TaskFullInfo p {
  max-width: 400px;
  line-height: 1.7;
}
.TaskFullInfo .taskButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  cursor: pointer;
}

#changeTaskValue {
  border: var(--borderRadius);
  resize: none;
  width: 400px;
  height: 200px;
  padding: 10px;
  color: black;
  display: none;
}
#changeTaskValue:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 900px) {
  main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside {
    display: none;
  }
  .hamburger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .searchTask input {
    max-width: 300px;
  }
  .popUpContainer {
    padding: 35px 50px;
  }
  .popUpBody form input {
    width: 200px !important;
  }
}
@media (max-width: 750px) {
  .mainArticleOfAllTasks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-disth: 620px) {
  .MyTaskShortArticle {
    width: 500px !important;
  }
  .fullComponent img {
    width: 200px !important;
  }
}
@media (max-width: 510px) {
  .MyTaskShortArticle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popUpContainer {
    padding: 25px 30px !important;
  }
  .popUpBody form {
    padding: 30px 40px;
  }
  .popUpBody form input {
    width: 100px !important;
  }
  .popUpBody form textarea {
    width: 150px;
    height: 150px;
  }
  #changeTaskValue {
    width: 300px;
  }
}
@media (max-width: 410px) {
  .fixator {
    width: 300px;
  }
  .mainArticleOfAllTasks .verticalTasks .finishedTasks .exampleTask {
    width: 230px;
    border-radius: 5px;
  }
  .MyTaskShortArticle {
    width: 350px;
  }
  .shortTaskList {
    padding: 5px !important;
    margin: 10px !important;
  }
  .shortTaskList .shortHeaderListTask {
    margin: 15px 0px 15px 5px !important;
  }
  .sectionToDo {
    padding: 10px !important;
  }
  .TaskFullInfo {
    margin: 10px !important;
  }
  .TaskFullInfo h1 {
    font-size: 20px;
  }
  .TaskFullInfo p {
    font-size: 15px;
  }
  .TaskFullInfo .fullComponent img {
    width: 120px;
  }
  #changeTaskValue {
    width: 250px;
  }
  .exampleTask {
    margin: 5px !important;
  }
  .exampleTask img {
    width: 80px;
  }
  .mainArticleOfAllTasks {
    padding: 5px !important;
    margin: 10px !important;
  }
  .popUpBody form {
    padding: 10px 20px !important;
  }
}
